{% extends "users/base.html" %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<!-- <script>
    $(document).ready(function(){
        $(".hamburger").click(function(){
          $(".wrapper").toggleClass("active")
        })
    });
</script>  -->
{% endblock %}
{% block body_block %}
<div class="banner" style="background-image: url('/static/img/d3.jpg'); height: 500px; background-attachment: fixed;">
    <div class="container">
    <div class="banner-text" style="padding: 140px 0 0 50px">
    <div class="banner-heading">
     Welcome {{ user.username }}
      </div>
    <div class="banner-sub-heading">
    Enjoy Your Day Ahead....
    </div>
</div>
    </div>
</div>
<section id="fav">
<div class="container">
    <div class="favv">
        <h2 id="s1">Favourites</h2><br>
        <!-- <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">hello</div>
                    <div class="owl-item">world</div>
                    <div class="owl-item">1223</div>
                    <div class="owl-item">1223</div>
                    <div class="owl-item">1223</div>
                </div>
            </div>
            <div class="owl-nav">
                <div class="owl-prev">prev</div>
                <div class="owl-next">next</div>
            </div>
            <div class="owl-dots">
                <div class="owl-dot active"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
            </div>
        </div> -->
        <!-- Grid row -->
<div class="row">

     {% for fs in fav_songs %}
    <div class="col-lg-4 col-md-12 mb-4">
      <iframe src="https://open.spotify.com/embed/track/{{fs.uri}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>  
    </div>
    <!-- Grid column -->
  {% endfor %}
  
  </div>
  <!-- Grid row -->
    </div>    
</div>
</section>
<section id="collection">
  <div class="container">
      <div class="coll">
      <h2 id="s1">Our Collections</h2><br>

      <div class="owl-carousel owl-theme oc1">
          <iframe src="https://open.spotify.com/embed/track/3kYlKr1xGsBS7mluB9W7AV" width="290" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/track/0mJTAdmY8olbGQjopDYff3" width="290" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/track/1Mg8vLBYwizu7AuhYQO64V" width="290" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/track/6E7P1uT2afeor2t6wR2y2r" width="290" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/track/2E04ekeTRa6FsyK1twNZrL" width="290" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/track/1xaj4bm3GMthtoZHUfepl1" width="290" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <iframe src="https://open.spotify.com/embed/track/7IAJzec1UxGYmNvbPTHbxx" width="290" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
  </div>
  </section>
</div>

<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            nav:true,
            loop:false
        }
    }
})
</script>
<!-- <div class="wrapper">

	<div class="top_navbar">
		<div class="logo">
			<a href="#">Coding Market</a>
		</div>
		<div class="top_menu">
			<div class="home_link">
				<a href="#">
					<span class="icon"><i class="fas fa-home"></i></span>
					<span>Home</span>
				</a>
			</div>
			<div class="right_info">
				<div class="icon_wrap">
					<div class="icon">
						<i class="fas fa-bell"></i>
					</div>
				</div>
				<div class="icon_wrap">
					<div class="icon">
						<i class="fas fa-cog"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main_body">
		
		<div class="sidebar_menu">
	        <div class="inner__sidebar_menu">
	        	
	        	<ul>
		          <li>
		            <a href="#">
		              <span class="icon">
		              	<i class="fas fa-border-all"></i></span>
		              <span class="list">Dashboard</span>
		            </a>
		          </li>
		          <li>
		            <a href="#" class="active">
		              <span class="icon"><i class="fas fa-chart-pie"></i></span>
		              <span class="list">Charts</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fas fa-address-book"></i></span>
		              <span class="list">Contact</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fas fa-address-card"></i></span>
		              <span class="list">About</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fab fa-blogger"></i></span>
		              <span class="list">Blogs</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
		              <span class="list">Maps</span>
		            </a>
		          </li>
		        </ul>

		        <div class="hamburger">
			        <div class="inner_hamburger">
			            <span class="arrow">
			                <i class="fas fa-long-arrow-alt-left"></i>
			                <i class="fas fa-long-arrow-alt-right"></i>
			            </span>
			        </div>
			    </div>

	        </div>
	    </div>

	    <div class="container">
	    	<div class="item_wrap">
	    		<div class="item">Welcome {{ user.username }}</div>
            </div>
	    </div>
	</div>
</div> -->


{% endblock %}