{% extends "users/base.html" %}
{% load static %}
{% block head_block %}
<style>
    #banner{
        background-color: #212529;
     }
     section{
         padding-top: 150px;
     }
     .footer-area{
	bottom:0px;
    width: 100%;
     }
</style>
{% endblock %}
{% block body_block %}
<section id="fav">
<div class="container">
  {% if not fav_songs %}
      <div class="alert alert-info" style="width:100%" role="alert">
      * No songs in your Favourites!
      </div>
      {% else %}
    <h2 id="s1">Favourites</h2><br>
<div class="row">

    <!-- Grid column -->
    {% for fs in fav_songs %}
    <div class="col-lg-4 col-md-12 mb-4">
  
      <iframe src="https://open.spotify.com/embed/track/{{fs.uri}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  
    </div>
    <!-- Grid column -->
  {% endfor %}
   
  <!-- Grid row -->
    </div>    
    {% endif %}
</div>
</section>
{% endblock %}