{% extends "users/base.html" %}
{% load static %}
{% block head_block %}
<style>
    #banner{
        background-color: #212529;
     }
     section{
         padding-top: 150px;
     }
     .footer-area{
      /* position: fixed; */
	bottom:0px;
    width: 100%;
     }
</style>
{% endblock %}
{% block body_block %}
<section>
    <div class="container">
      {% if not suggested_songs %}
      <div class="alert alert-info" style="width:100%" role="alert">
      * No songs in your playlist!
      </div>
      {% else %}
        <h2 id="s1">Playlist</h2><br>
{% for ss in suggested_songs %}
<!-- {{suggested_songs}} -->
<div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ss}}</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <!-- <img class="ml-3" src="..." alt="Generic placeholder image"> -->
  </div>
  <br>
{% endfor %}
{% endif %}
</div>
</section>
{% endblock %}